
.footer {
    * {
        font-size: calc(1rem + 0.3vw);
    }

    flex-wrap: wrap;
}
.footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0rem 1rem;
    list-style: none;
    margin-inline-start: 0rem;
    padding: 0rem;

    .list-item {
        display: flex;
        align-items: center;
        a {
            font-family: 'Titillium Web', sans-serif;
            color: #010101 !important;
            text-decoration: none;
            font-size: 1.25rem;
            &:not(:nth-child(1)) {
                margin-left: 0rem;
            }
            margin-bottom: .125rem;
            margin-right: 1.5rem;

            &:hover{
                opacity: .7;
            }
            .ico {
                margin: 0rem .5rem;
                    &:nth-child(1) {
                    margin-left: 0rem;
                    }
            }
        }
            
    }
}

p.trademark {
    margin: auto 0rem;
    margin-right: auto;
    

    @media only screen and (min-width: 768px) {
        margin-left: auto; 
        margin-right: 0rem;   
    }
}



